@media (max-width: 800px) {
  .blogPostMainContainer {
    flex-direction: column;
  }
  aside {
    width: 100%;
  }

  aside img {
    width: 60%;
    margin: -100px auto 0px auto;
  }

  .aboutCapture {
    width: 100%;
    margin-top: 50px;
  }

  .recentPosts {
    width: 100%;
    margin: 0 auto;
  }

  .rightBlogPostContainer {
    padding-left: 0;
    width: 100%;
  }

  .rightBlogPostContainer img {
    margin-top: 100px;
  }
}

@media (max-width: 550px) {
  .wrapper {
    width: 92%;
  }

  .blogText {
    width: 100%;
  }

  .blogText h3 {
    font-size: 35px;
  }

  .blogText h3,
  .blogText p {
    padding-left: 20px;
  }

  .topComment,
  .bottomComment {
    flex-direction: column;
  }

  .topComment img,
  .bottomComment img {
    margin: 20px 0;
  }
}

@media (max-width: 350px) {
  .wrapper {
    width: 95%;
  }

  .blogText h3,
  .blogText p {
    padding-left: 10px;
  }
}
