/* start of blog page*/
 




#blog{ background-image: url(../captured-final-assets/blog-header.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 
}


 #blog h2 {
text-align: center;
margin-top: 320px;
 }
 

/* main content and aside container */
.blogPostMainContainer {
  display: flex;
  border: dashed red 2px;
}



/* Main blog content*/

.rightBlogPostContainer {
  display: flex;
  flex-direction: column;
  border: dashed green 2px;
  width: 80%;
  margin-top: -420px;
  padding-left: 100px;
  
}

.blogText{
  margin-top: 80px;
  width: 90%;
}



.rightBlogPostContainer h3{
  margin-right: 135px;
}


.rightBlogPostContainer img{
  box-shadow: yellow -40px 40px;
  z-index: 1;
  width: 100%;

}

 /* Aside content*/


 aside ul {
  flex-direction: column;
 }

 aside li {
 padding: 10px 0;
 }

 aside li::before {content: "•"; color: #4CEEA7;
  margin-right: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  width: 45%;
  text-align: left;
}


.aboutCapture, .recentPosts{
  display: flex;
  flex-direction: column;
  width: 68%;
  align-self: center;
}



/* comment section */

.topComment, .bottomComment {
  display: flex;
  width: 90%;
  margin: 20px 0;

}

.topComment img {
 margin-right: 50px;
 margin-top: 25px;
 box-shadow: none;
 width: 100px;
 height: 100px;
}

.bottomComment img{
  margin-right: 50px;
  margin-top: 25px;
  box-shadow: none;
  width: 100px;
  height: 100px;
}

.blogText {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
}


.textButton {
flex-direction: column;
}

.blogText button{
  width: 100%;
}

