/* start of blog page*/

#blog {
  background-image: url(../captured-final-assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#blog h2 {
  margin-top: 140px;
  text-align: center;
}

/* main content and aside container */
.blogPostMainContainer {
  display: flex;
}

/* Main blog content*/

.rightBlogPostContainer img {
  margin-top: -250px;
  max-width: 90%;
  box-shadow: yellow -40px 40px;
  z-index: 1;
}

.rightBlogPostContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 100px;
  align-items: flex-end;
}

.blogText {
  width: 90%;
  border: yellow 10px solid;
  border-top: none;
  border-right: none;
}

.blogText h3 {
  padding-top: 80px;
}

.blogText p,
.blogText h3 {
  padding-left: 40px;
  padding-bottom: 40px;
  margin-bottom: 0px;
}

/* Aside content*/

.aboutCapture p,
.recentPosts ul {
  margin-top: 30px;
}

.recentPosts ul {
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.recentPosts li {
  padding: 10px 0;
}

.recentPosts li::before {
  content: "•";
  color: #4ceea7;
  margin-right: 20px;
}

aside {
  display: flex;
  flex-direction: column;
  width: 45%;
  text-align: left;
}

aside img {
  margin-top: 75px;
  margin-bottom: 50px;
}

.aboutCapture,
.recentPosts {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  padding-bottom: 50px;
}

/* comment section */

.rightBlogPostContainer h4 {
  padding-top: 20px;
}

.topComment,
.bottomComment {
  display: flex;
  width: 90%;
  margin: 20px 0;
}

.topComment img {
  margin-right: 50px;
  margin-top: 25px;
  box-shadow: none;
  width: 100px;
  height: 100px;
}

.bottomComment img {
  margin-right: 50px;
  margin-top: 25px;
  box-shadow: none;
  width: 100px;
  height: 100px;
}
