/* start of blog page*/

#blog {
  background-image: url(../captured-final-assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#blog h2 {
  text-align: center;
}

/* main content and aside container */
.blogPostMainContainer {
  display: flex;
}

/* Main blog content*/

.rightBlogPostContainer img {
  margin-top: -250px;

  max-width: 90%;
  margin-bottom: 50px;
  box-shadow: yellow -40px 40px;
  z-index: 1;
}

.rightBlogPostContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 100px;
  align-items: flex-end;
}

.blogText {
  margin-top: 80px;
  width: 90%;
}

.rightBlogPostContainer h3 {
}

/* Aside content*/

aside ul {
  flex-direction: column;
}

aside li {
  padding: 10px 0;
}

aside li::before {
  content: "•";
  color: #4ceea7;
  margin-right: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  width: 45%;
  text-align: left;
}

.aboutCapture,
.recentPosts {
  display: flex;
  flex-direction: column;
  width: 68%;
  align-self: center;
}

/* comment section */

.topComment,
.bottomComment {
  display: flex;
  width: 90%;
  margin: 20px 0;
}

.topComment img {
  margin-right: 50px;
  margin-top: 25px;
  box-shadow: none;
  width: 100px;
  height: 100px;
}

.bottomComment img {
  margin-right: 50px;
  margin-top: 25px;
  box-shadow: none;
  width: 100px;
  height: 100px;
}
