

#contact h2{
  margin-top: 250px;
  text-align: center;
}

#contact header {
  background-image: url(../captured-final-assets/contact-header.jpg);
  background-size: cover;
}

.formContainer {
  border: 30px solid yellow;
  border-top: none;
  border-right:none;
  padding-left: 40px;
  // this padding is equal to the 40px margin on the bottom for the submit button inside the contact container
  // position: absolute;
  margin-top: -200px;
  background-color: #fafafa;
}

#contact footer {
  // position: absolute;
  bottom: 0;
  width: 100%;
}