

#contact h2 {
  margin-top: 250px;
  text-align: center;
}

#contact header {
  background-image: url(../captured-final-assets/contact-header.jpg);
  background-size: cover;
}

#contact h4 {
  margin-bottom: 30px;
}

.socialsContainer {
  margin-top: 150px;
  margin-right: 50px;
}

.formContainer {
  width: 100%;
  border: 30px solid yellow;
  border-top: none;
  border-right: none;
  padding-left: 40px;
  // this padding is equal to the 40px margin on the bottom for the submit button inside the contact container
  // position: absolute;
  padding-right: 40px;
  margin-top: -200px;
  background-color: #fafafa;
}

.contactContainer {
  display: flex;
  margin-bottom: 100px;
}

#contact footer {
  left: 0;
  right: 0;
  width: 100%;
}
