textarea {
  resize: none;
  border-style: none;
  border-color: #4ceea7;
  border: #4cee4c solid 1px;
  width: 100%;
}


.message label {
  position: absolute;
  margin: 25px;
}

input,
text {
  border-style: none;
  border-bottom: #4cee4c solid 1px;
  margin-top: 10px;
}

.name,
.email {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  width: 48%;
  margin: 40px 0;
}

.name label,
.email label {
  margin-left: 5px;
}

.nameEmailContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.formText {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.textButton {
  flex-direction: column;
}

.formText button {
  width: 101%;
}
