
ul {
  margin: 0;
  padding: 0;
}

a:hover{
  border-bottom: #4CEEA7 3px solid;
  transition: 0.3s;
  color: #4cee4c;

}




  h1, h3{
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.flex{
  display: flex;
}
section{
padding: 120px 0;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
 
}


.grid {
  display: grid;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

// buttons

button {
  background-color: #4ceea7;
  border: none;
  height: 40px;
  margin: 40px 0;
  &:hover{
    background: #008000;
    border: 5px solid #4cee4c;
    border-style: inset;
    color: #fafafafa;
    transition: 0.2s;
    cursor: pointer;
    }
  }

textarea{
  resize: none;
  border-style: none;
  border-color: #4CEEA7;
  border: #4cee4c solid 1px;
    }

    input, text {
      width: 80%;
      border-style: none;
      border-bottom: #4cee4c solid 1px;
     }


     