
ul {
  margin: 0;
  padding: 0;
}

a:hover{
  border-bottom: #4CEEA7 3px solid;
  transition: 0.3s;
  color: #4cee4c;

}




  h1, h3{
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.flex{
  display: flex;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}


.grid {
  display: grid;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

// buttons

button {
  background-color: #4ceea7;
  border: none;
  padding: 10px;
  margin: 40px 0;
  &:hover{
    background: #008000;
    color: #fafafafa;
    transition: 0.2s;
    cursor: pointer;
    }
  }


