

  h1, h3{
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.flex{
  display: flex;
}
section{
padding: 120px 0;
}

.wrapper {
  border: solid blue 5px;
  max-width: 1400px;
  margin: auto;
 
}


.grid {
  display: grid;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

// buttons

button {
  background-color: #4ceea7;
  border: none;
  height: 40px;
}

