@import 'normalized';
@import 'generalStyles';
@import 'typography';

/* General */


/* Header section*/

  header {

  height: 750px;
  background-repeat: no-repeat;
  margin: 0 auto;
  overflow: hidden;
  background-image: url(../captured-final-assets/header-image.jpg);  
  background-repeat: no-repeat;
  background-size: inherit;
  background-color: rgb(244, 245, 244);
}


.secondHeaderBackground {
  min-width: 43%;
  height: 650px;
  margin-top: 150px;
  background:url(../captured-final-assets/header-box-image.jpg) center;
  background-size:cover;
  background-repeat: no-repeat; 
  border: 50px solid yellow;
  border-right: none;
  position: absolute;
  right: 0;
  z-index: 1;
  
}


.container{
  padding-top: 380px;
  justify-content: center;
  
}



/* Header navigation menu*/


ul{
  display: flex;
  justify-content: flex-end;
}

li {
  padding: 20px;
  justify-items: space-evenly;
}

a {
  color: #2c2c2c;
}

h1 {
 margin-top: 50px;
 z-index: 2;
}

// hamburger menu bar navigation

.hamburgerMenu{
  display: none;
  cursor: pointer;
  right: 0;
  margin-right: 25px;
  position: fixed;
  
  padding-top: 50px;
}

.bar{
  display: block;
  width: 35px;
  height: 5px;
  margin: 5px auto;
  background-color: yellow;
  border-radius: 10px;
  border: solid 1px black;
}


/* About Section*/


/* about section top information container */
.whatIsContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto 100px auto;
  
  
}

.whatIsContainer p{
  
  text-align: left;
  
}

.whatIsContainer h3{
  text-align: center;
}


.whatIsContainer button {
  width: 200px;
  margin: 0 auto;
}

/* main about section content container (middle)*/
.aboutContainer {
  display: flex;
  justify-content: space-between;
}

.aboutContainerBottom {
  display: flex;
  justify-content: space-between;
}

.leftImg {
  display: flex;
  flex-basis: 45%;
}

.rightImg{
  display: flex;
  flex-basis: 45%;
  }

.leftImg img{
  height: 100%;
  box-shadow: yellow 20px 20px;
}

.rightImg img{
  height: 100%;
  box-shadow: yellow -20px 20px;
}

.rightAboutContainer, .leftAboutContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-basis: 38%;
}

.leftAboutContainer {
  text-align: right;
}

.rightAboutContainer button {
  width: 150px;
  }

.leftAboutContainer button {
width: 150px;
align-self: flex-end;
}


/* About section nav container */

  section#topPicks .banner{
  background-image: url(../captured-final-assets/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

.aboutSectionNavContainer{
display: flex;
flex-wrap: wrap;
position: relative;
width: 95%;
margin: 0 auto;

}


.topPicksContainer, .communityContainer, .blogContainer, .getInTouchContainer{
  flex-direction: column;
  flex:1 0 35%;
  margin: 25px;
}


i{
  position: relative;
  margin: 13px;
  border-radius: 30px;
}

.circle {
  position: absolute;
  margin: 40px -75px;
  width: 60px;
  height: 60px;
  background-color: rgba($color: #4ceea4, $alpha: 0.5);
  border-radius: 30px;
}


/* top picks section*/

.banner {
  background-image: url(../captured-final-assets/banner.jpg);
  width: 100%;
  height: 100%;


}

.thisMonthProfile {
  display: flex;
  margin: 50px 0;
  
}

.thisMonthProfile img{
  display: flex;
  margin: 10px 35px;
  box-shadow: yellow 20px 30px;
  flex: 1 0;
  // height: 380px;
  align-self: center;
}

.profileInfoContainer {
  flex-direction: column;
  padding: 50px;
  flex: 2 0 65%;
  
}

.profileInfoContainer button{
width: 200px;

}
/* Gallery */

.gallery {
  display: flex;
}

.gallery img{
  margin: 20px;
  width: 100%;
  flex-wrap: wrap;
}

/* footer section*/
footer{
  text-align: center;
  padding: 5px 0;
  background-color: black;
}

@import 'blogPageStyles';
@import 'contactPageStyles';
@import 'mediaQuery';